requests
pyyaml
uvicorn
aiohttp
psutil
rich
httpx
docker
loguru
communex
bittensor
GitPython
questionary
python-dotenv
click==8.1.3
tabulate==0.8.10
click-spinner
cryptography>=43.0.3,<44.0.0
windows-curses; sys_platform == 'win32'
